.btn a {
  color: #fff;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px;
  letter-spacing: 0.075em;
}
