footer {
  background: #161a23;
  padding-top: 50px;
  padding-bottom: 40px;
}

.container .brend {
  display: flex;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-items: center;
}

.brend .ft-logo {
  padding-bottom: 20px;
}

footer p {
  color: #8a8a8a;
}

.credit span {
  padding-top: 20px;
  margin-top: 50px;
  text-align: center;
  color: #8a8a8a;
  display: block;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.credit span a {
  color: #ee3fce;
}
