:root {
  --primary-color: #ee3fce;
  --title-color: #272733;
  --icon-color: #ffffff80;
  --txt-color: #2b2727;
  --card-l-color: #877f7f;
  --card-d-color: #c9c9c9;
  --dark-bg: black;
  --light-bg: white;
  --theme-color: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ee3fce),
    to(#7231cf)
  );
  --title-font: 3.5rem;
}
