@import url("base.css");
@import url("./exports/btn.css");

/********************* Design Steps ************************
1. Top Navbar
2. Services Section
3. Welcome section
4. Products section
5. Work section
6. Process section
7. Team section
8. Blog section
*************************************************************/

/* 1. Top Navbar */
.top-nav {
  padding: 10px;
  background: var(--dark-bg);
  color: #fff;
}

.top-nav .right-nav span:last-child {
  margin-right: 0px;
}

.top-nav span {
  font-size: 13px;
  font-weight: 300;
  margin-right: 20px;
}

.top-nav span i {
  margin-right: 10px;
  color: var(--icon-color);
}

/* 2. Services Section */
.services {
  padding: 100px 0;
}

.col {
  text-align: center;
  opacity: 1;
}

.col span {
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  width: 90px;
  height: 90px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ee3fce),
    to(#7231cf)
  );
  background: linear-gradient(90deg, #ee3fce 0%, #7231cf 100%);
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.col span::before {
  border-radius: 50%;
  content: "";
  position: absolute;
  background: #fde8f9;
  z-index: -1;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  left: -10px;
  top: -10px;
  animation: shadow 2s infinite ease-in-out;
}

@keyframes shadow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.col p {
  padding-top: 20px;
}

/* 3. Welcome section */
.wlc-wrap {
  background: whitesmoke;
  position: relative;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wlc-img {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.wlc-img:hover img {
  transform: scale(1.04);
}

.wlc-img img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  -o-object-fit: cover;
  object-fit: cover;
}

.wlc-txt {
  background: whitesmoke;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: flex-start;
  max-width: 750px;
  justify-content: center;
  text-align: start;
}

.wlc-wrap .wlc-txt h2 {
  font-size: 3.5rem;
  position: relative;
}

.wlc-wrap .wlc-txt h2::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #ee3fce;
  position: absolute;
  bottom: -22px;
}

.wlc-wrap .wlc-txt p {
  padding-top: 35px;
}

.wlc-wrap .btn {
  margin-top: 5rem;
}

.wlc-wrap .btn a:hover {
  box-shadow: inset 0 0 0 25px #272733;
  color: #fff;
}

.wlc-wrap .btn a {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7231cf),
    to(#ee3fce)
  );
}

/* 4. Products section */
.products {
  background: #161a23;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.element-ten {
  position: absolute;
  top: 50px;
  right: 0px;
  animation: elm_th 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

.element-eleven {
  position: absolute;
  bottom: 150px;
  left: -20px;
  animation: elm_th 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes elm_th {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}

.title-box {
  margin: 0 auto;
  text-align: center;
}

.title-box h2 {
  color: #fff;
  padding-bottom: 35px;
  font-size: 3.5rem;
  position: relative;
}

.title-box h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #ee3fce;
  top: 70px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.title-box p {
  color: #fff;
  max-width: 600px;
  padding-block: 2rem;
}

.products-cards {
  margin-top: 5rem;
}

.card {
  background: #fff;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  border-radius: 10px;
  text-align: center;
  background: #272733;
}

.card:hover {
  transform: translate(0px, -10px);
}

.card img {
  width: 100%;
  transition: 0.3s;
}

.card-body {
  padding: 30px;
}

.card-body h3 {
  padding-inline: 25px;
  transition: 0.3s;
  color: #fff;
}

.card-body p {
  margin-top: 15px;
  padding-inline: 25px;
  color: #c9c9c9;
  position: relative;
}

.card-body p::after {
  content: "";
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  background: #ee3fce;
  margin-top: 25px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.card-body span {
  display: block;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-top: 25px;
}

.card-body span i {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  padding-left: 5px;
}

.card-body .btn {
  margin-top: 3rem;
}

.card-body .btn a {
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7231cf),
    to(#ee3fce)
  );
}

.card-body .btn a:hover {
  box-shadow: inset 0 0 0 25px #fff;
  color: #272733;
}

/* 5. Work section */
.work {
  padding-block: 10rem;
}

.work .container .title-box h2, .process .container .title-box h2, .blog .container .title-box h2 {
  color: black;
}

.work .container .title-box p, .process .container .title-box p, .blog .container .title-box p {
  margin: 0 auto;
  color: #2b2727;
}

.wrk {
  margin-top: 5rem;
  display: flex;
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background: transparent !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.wrk-wrap {
  background: transparent;
}

.img-wrk {
  width: 90%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.img-wrk img {
  object-fit: cover;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.work .wlc-wrap .wrk-txt {
  padding: 4rem;
  background: transparent !important;
}

.work .wlc-wrap .wrk-txt h2 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: #272733;
}

.work .wlc-wrap .wrk-txt h2::after {
  background: #d6d6d6;
}

.work .wlc-wrap .wrk-txt span {
  padding-top: 50px;
  display: block;
  font-weight: 500;
  color: #1B1F28;
}

.wrk-icon .icon-wrapper {
  height: auto;
  padding: 11rem 0 5rem 0;
}

.wrk-icon .icon-wrapper a {
  margin-right: 1rem;
}

.wrk-img {
  border-radius: 10px;
  display: flex;
}

.wrk-img .img-prf {
  position: relative;
  display: flex;
  width: calc((100% / 5) - 20px);
  margin: 0px 10px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.wrk-img .img-prf a {
  overflow: hidden;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrk-img .img-prf a img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrk-img .img-prf a:before {
  content: '';
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

.wrk-img .img-prf .hover-info {
  opacity: 0;
  position: absolute;
  z-index: 3;
  text-align: center;
  background: #000;
  background: linear-gradient(90deg, #ee3fce 0%, #7231CF 100%);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  transition: .3s;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.wrk-img .img-prf .hover-info i {
  color: #fff;
}

.wrk-img .img-prf:hover .hover-info, .wrk-img .img-prf:hover a:before {
  opacity: 1;
}

.wrk-img .img-prf:hover img {
  transform: scale(1.08);
}

/* 6. Process section */
.process {
  background: #eee;
  background: url('../images/bg_light.jpg');
  padding-block: 100px;
}

.row-process {
  padding-top: 5rem;
  position: relative;
}

.process-block {
  text-align: center;
  width: 33%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 15px;
  position: relative;
  border-top: 2px solid #ee3fce;
}

.process-block .p-block-wrap {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
}

.process-block h4 {
  padding-bottom: 15px;
  font-weight: 500 !important;
}

.process-block p {
  margin: 0px;
  max-width: 280px;
  margin: 0 auto;
}

.process-block span {
  position: absolute;
  top: -20px;
  margin-inline: auto;
  left: 0;
  right: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: linear-gradient(90deg, #ee3fce 0%, #7231CF 100%);
  color: #fff;
}

.process-block span:after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  background: rgba(238, 61, 197, 0.15);
  border-radius: 50%;
  z-index: -1;
}

.process-block:nth-child(6n-3) {
  border-right: 2px solid #ee3fce;
  border-bottom: 2px solid #ee3fce;
  border-radius: 0 20px 20px 0;
}

.process-block:nth-child(3n+3) {
  padding-right: 30px;
}

.process-block:nth-child(3n+1) {
  padding-left: 30px;
}

.process-block:nth-child(6n-2), .process-block:nth-child(6n-1), .process-block:nth-child(6n+2), .process-block:nth-child(6n+3) {
  margin-top: -2px;
}

.process-block:nth-child(6n-6) {
  border-top: none;
}

.process-block:nth-child(6n+1) {
  border-top: none;
}

.process-block:nth-child(6n-2) {
  border-left: 2px solid #ee3fce;
  border-bottom: 2px solid #ee3fce;
  border-radius: 20px 0px 0 20px;
}

.process-block:nth-last-child(-n+3) {
  padding-bottom: 0px;
}

.process-block:nth-last-child(-n+3) {
  padding-bottom: 0px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.process-block:nth-child(1) {
  border-top: 2px solid #ee3fce;
  margin-top: -2px;
}

/* 7. Team section */
.team {
  padding-top: 70px;
  margin-bottom: 100px;
  position: relative;
  overflow: initial;
}

.team h4 {
  color: #19191F;
}

.team:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  max-height: 492px;
}

.team::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ee3fce 0%, #7231CF 100%);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
  max-height: 492px;
}

.team .container .row {
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.team-t h2 {
  color: #fff;
  padding-bottom: 15px;
  position: relative;
}

.team-t h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 2px;
  background: #fff;
  top: 70px;
  left: 0;
}

.team-p p {
  max-width: 750px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
}

.team-bg {
  width: 100%;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.13);
  background: #fff;
  margin-top: 70px;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}

.team-bg .row-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr) !important;
  justify-items: center;
  align-items: center;
  grid-gap: 0;
}

.team-bg h4 {
  padding-top: 18px;
  padding-bottom: 10px;
}

.team-bg span {
  color: #858585;
  display: block;
  padding-bottom: 25px;
}

.face-team {
  border-radius: 20px;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.face-team .team-img {
  position: relative;
  display: block;
  height: 270px;
  overflow: hidden;
}

.face-team img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.face-team .social {
  transition: .3s;
  transform: translate(0px, 100%);
  opacity: 0;
  position: absolute;
  bottom: 0;
  background: rgba(189, 56, 201, 0.9);
  width: 100%;
  padding: 20px 0px;
}

.face-team:hover .social {
  opacity: 1;
  transform: translate(0px, 0%);
}

.face-team .social a {
  color: #fff;
  padding: 10px;
}

/* 8. Blog section */
.blog {
  background: #fff;
  padding-bottom: 80px;
}

.post-card {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 35px;
  margin-right: 0px;
  display: block;
  background: #fff;
}

.post-img {
  height: 250px;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category {
  padding-bottom: 20px;
}

.card-body .category span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #877F7F;
  margin-top: 0;
  margin-right: 20px;
}

.card-body .category span::after {
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background: #d6d6d6;
  position: absolute;
  right: -12px;
  top: 2px;
}

.card-body .category span:last-child::after {
  content: none !important;
}

.blog-card {
  padding: 25px 30px;
  text-align: start;
}

.blog-card h2 {
  line-height: 36px;
  padding-bottom: 5px;
  font-size: 24px;
}

.blog-card p {
  overflow: hidden;
  display: -webkit-box;
  padding-inline: 0 !important;
  color: #877F7F;
  font-size: 15px;
  height: 54.4px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.bottom-inf {
  padding-top: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.left-inf span {
  color: #000;
  font-size: 12px;
}

.right-inf {
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
}

.right-inf span {
  color: #877F7F;
  font-size: 12px;
}

/********** mobile responsive ***********/
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  /* 4. Products section */
  .products-cards {
    padding-inline: 3rem;
  }

  /* 7. Team section */
  .team .container .row {
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  .row-grid {
    grid-template-columns: 1fr !important;
    row-gap: 5rem;
  }

  /* 3. Welcome section */
  .wlc-wrap {
    grid-template-columns: auto;
  }

  .wlc-txt {
    padding: 2rem 3.5rem;
  }

  .wlc-wrap .wlc-txt h2 {
    font-size: 2.8rem;
  }

  /* 4. Products section */
  .card {
    width: 65%;
  }

  /* 5. Work section */
  .wrk-img .row {
    align-items: center;
    flex-direction: column;
  }

  .wrk-img .img-prf {
    width: auto;
    height: 200px;
  }

  .wrk-img .img-prf a img {
    height: auto;
  }

  .img-wrk {
    width: 100%;
  }

  .wrk-txt {
    margin-top: 3.5rem;
  }

  /* 6. Process section */
.process-block .p-block-wrap {
  padding: 34px;
  height: auto;
}

  /* 7. Team section */
  .face-team .team-img {
    height: auto;
  }
}

@media (max-width: 576px) {
  /* 1. Top Navbar */
  .top-nav .container {
    flex-direction: row;
    text-align: center;
  }

  .top-nav .container .left-nav,
  .right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  /* 4. Products section */
  .card {
    width: 95%;
  }

  .title-box p {
    padding-inline: 1.8rem;
  }


  /* 6. Process section */
  .process-block {
    width: 100% !important;
  }

  .row-process {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .process-block:nth-child(3n+3) {
    padding-right: 15px;
  }
  .process-block:nth-child(3n+1) {
    padding-left: 15px;
  }
  .process-block:nth-child(6n-3) {
    border-right: none;
    border-radius: 0px;
  }
  .process-block:nth-last-child(-n+3) {
    padding-bottom: 50px;
  }
  .process-block:nth-child(6n-6) {
    border-top: 2px solid #ee3fce;
  }
  
  /* 7. Team section */
  .team-bg .row-grid {
    grid-template-columns: auto !important;
  }

  .team-p p {
    text-align: center;
    padding: 0 2rem;
  }
}

@media (max-width: 376px) {
  /* 3. Welcome section */
  .wlc-txt {
    padding: 3rem 3.5rem;
  }
}