@import url("base.css");

/********************* Design Steps ************************
1. Top Navbar
2. Services Section
3. 
4. 
5. 
6. 
7. 
*************************************************************/

/* 1. Top Navbar */
.top-nav {
  padding: 10px;
  background: var(--dark-bg);
  color: #fff;
}

.top-nav .right-nav span:last-child {
  margin-right: 0px;
}

.top-nav span {
  font-size: 13px;
  font-weight: 300;
  margin-right: 20px;
}

.top-nav span i {
  margin-right: 10px;
  color: var(--icon-color);
}

/* 2. Services Section */
.services {
  padding: 100px 0;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  place-items: center;
  align-self: center;
  justify-self: center;
}

.col {
  text-align: center;
  opacity: 1;
}

.col span {
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  width: 90px;
  height: 90px;
  background: -webkit-gradient(linear, left top, right top, from(#ee3fce), to(#7231CF));
  background: linear-gradient(90deg, #ee3fce 0%, #7231CF 100%);
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.col span::before {
    border-radius: 50%;
    content: '';
    position: absolute;
    background: #fde8f9;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: -10px;
    top: -10px;
    animation: shadow 2s infinite ease-in-out;
}

@keyframes shadow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.col p {
  padding-top: 20px;
}


/********** mobile responsive ***********/
 @media (max-width: 1200px) {
  
}

@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  .row-grid {
    grid-template-columns: 1fr !important;
    row-gap: 5rem;
  }
}

@media (max-width: 576px) {
  /* 1. Top Navbar */
  .top-nav .container {
    flex-direction: row;
    text-align: center;
  }

  .top-nav .container .left-nav, .right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
}