@import url("base.css");
@import url("btn.css");

.lock-scroll {
  height: 100vh !important;
  overflow: hidden !important;
}

/* menu style */
.menu {
  position: absolute;
  width: 100%;
  z-index: 99;
  padding: 0px 15px;
  padding-top: 30px;
  left: 0;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  z-index: 2;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 55px;
  margin-right: 10px;
}

.menu-icon {
  display: none;
  width: 30px;
  height: 25px;
}

.menu-icon i {
  font-size: 28px;
  position: absolute;
  color: #fff;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.navbar-nav ul {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar-nav ul li {
  list-style: none;
  padding: 0 15px;
}

.navbar-nav ul li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  transition: 0.3s;
  position: relative;
}

.navbar-nav ul li .active {
  position: relative;
}

.navbar-nav ul li .active::before {
  transition: 0.3s;
  content: "";
  display: block;
  opacity: 1;
  width: 100%;
  height: 2px;
  background: #bc38c9;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}

.btn.small a {
  border: 2px solid #ee3fce;
  background: transparent;
  padding: 13px 30px;
}

.btn.small a:hover {
  box-shadow: inset 0 0 0 25px #fff;
  color: #272733;
  border: 2px solid transparent;
}

/* hero section style */
header {
  background: #161a23;
  width: 100%;
  position: relative;
}

.slider-head {
  height: calc(100vh - 30px);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}

.element-two {
  position: absolute;
  top: 170px;
  left: 220px;
  animation: elm_t 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes elm_t {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

.element-three {
  position: absolute;
  bottom: 100px;
  left: -10px;
  animation: elm_th 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes elm_th {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}

.element-four {
  position: absolute;
  top: 0px;
  left: 5px;
  animation: elm_o 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
  z-index: 1;
}

@keyframes elm_o {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}

.element-five {
  position: absolute;
  top: 50px;
  bottom: 0px;
  right: 0px;
  animation: elm_fi 1.5s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

.element-five img {
  height: 90vh;
}

@keyframes elm_fi {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}

.element-six {
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  animation: elm_f 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

.element-six img,
.element-seven img,
.element-eight img {
  height: 100vh;
}

@keyframes elm_f {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}

.element-seven {
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  animation: elm_f 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

.element-eight {
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 1;
  animation: elm_f 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

.element-nine {
  position: absolute;
  bottom: 0px;
  right: 540px;
  animation: elm_o 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
  z-index: 1;
}

.element-nine img {
  transform: scale(1, -1);
}

header .icon {
  position: absolute;
  display: block;
  right: 100px;
  z-index: 2;
}

.icon-wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-wrapper i {
  padding-top: 15px;
  color: #8a8a8a;
  transition: 0.3s;
}

.icon-wrapper i:hover {
  color: #bc38c9;
}

/* for swiper slider */
.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

.swiper-slide {
  text-align: center;
  font-size: 26px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  object-fit: cover;
  transition: 0.4s;
}

.title-img {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.title {
  position: relative;
  padding-left: 65px;
  z-index: 1;
  text-align: left;
}

.title p {
  font-size: 16px;
  line-height: 1.8;
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0;
  color: #c9c9c9;
}

.box h1 {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(left, #d1d1d1 0%, #fff 100%);
  background-size: 1000px;
  padding-right: 23px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-move 2.5s ease-in-out infinite;
}

.title .btn a {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7231cf),
    to(#ee3fce)
  );
}

.title .btn a:hover {
  box-shadow: inset 0 0 0 25px #fff;
  color: #272733;
}

@keyframes gradient-move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  border: 1px solid var(--primary-color) !important;
  color: #fff;
}

.swiper-pagination-horizontal {
  bottom: 100px !important;
}

/********** mobile responsive ***********/
@media (max-width: 1024px) {
  /* hero section style */
  header .icon {
    right: 27px;
  }
}

@media (max-width: 992px) {
  /* menu style */
  .menu-icon {
    display: inline-block;
  }

  .navbar-nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #272733;
    top: 33px;
    text-align: center;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: all 0.5s;
  }

  .navbar-nav ul li {
    margin: 10px 0;
    line-height: 30px;
  }

  .navbar-nav ul.show {
    left: 0;
  }
}

@media (max-width: 768px) {
  .nav-show-logo {
    display: none;
  }

  .nav-hide-logo {
    display: inline-block;
  }

  /* hero section style */
  .swiper-slide {
    flex-wrap: wrap;
  }

  .slider-head {
    height: auto;
  }

  .swiper-pagination {
    display: none;
  }

  .slider-head .container {
    padding: 50px 0;
  }

  header .icon {
    display: none;
  }

  .swiper-slide img {
    width: 90% !important;
    margin-bottom: 5rem;
  }

  .box h1 {
    padding: 0px 20px;
    padding-bottom: 20px;
    font-size: 50px;
    line-height: 42px;
  }

  .title {
    padding-left: 0;
    text-align: center;
  }

  .title p {
    padding: 0px 20px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
}

@media (max-width: 426px) {
  /* hero section style */
  .element-two,
  .element-three,
  .element-five,
  .element-six,
  .element-seven,
  .element-eight,
  .element-nine {
    display: none;
  }

  .box h1 {
    font-size: 32px;
  }
}

@media (max-width: 376px) {
  .top-nav {
    display: none;
  }
  /* hero section style */
  .box h1 {
    font-size: 28px;
  }

  .title p {
    font-size: 14px;
  }
}
